/* You can add global styles to this file, and also import other style files */

body{
  width:1200px;
  margin: 0 auto;
  border: 1px solid lightgray;
  height: 100vh;
}

.pointer{
  cursor:pointer;
}
.link {
  color:deepskyblue;
  text-decoration: underline;
  cursor:pointer;
}
